@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Overpass:wght@100&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{ 
    top: 0;    
    width: 100%;
    min-height: auto;
    background-color: #633f3f;
}

.header__img{
    margin: 1vh;
    padding-right: 1rem;
    padding-left: 2rem;
    max-width: 100%;
    height: auto;
}

nav{
    display: flex;
    padding: 2%;
    justify-content: space-between;
}

.header_nav_ul{
    flex: 1;
    text-align: right;
    list-style-type: none;
    padding: 1.5rem;
}

.header_nav_li{
    list-style: none;
    position: relative;
    display: inline-block;
    margin-inline: 1rem;
    padding: 1.5rem;
}

.header_nav_li a{
    color: rgb(31, 9, 9);
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Righteous';
}

.header_nav_li::after{
    content:'';
    width: 0%;
    height: 3px;
    background: papayawhip;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.header_nav_li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}

@media (max-width: 768px){
    .main_description h1{
        font-size: 40px;
    }
    .main_description h2{
        font-size: 20px;
    }
    .header_nav_li a{
        display: block;
        font-size: 20px;
    }
    .header_nav_ul{
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        background:#ab7b7b;
        right: -200;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: aliceblue;
        margin: 10px;
        font-size: 18px;
        cursor: pointer;
    }
    .header_nav_ul ul{
        padding: 5px;
    }
}

/* contenido principal */

.main_content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-image:url(img/backgroundbanner.jpeg);
    background-position: center;
    background-size: cover;
    width:auto;
    height:1000px;
    position:relative;
}

.main_description{
    justify-content: center;
    margin-top: 250px;
    top: 0;
    width: 100%;
}

.main_description h1{
    font-size: 75px;
    font-weight: 650;
    font-family: 'Righteous', cursive;
    color: #b69fd163;
}

.main_description h2{
    font-size: 25px;
    font-family: 'M Plus 1P', cursive;
    padding-bottom: 2vh;
    color: azure;
}

.main_description p{
    margin: 10px 0 40px;
    font-size: 20px;
    font-family: 'M Plus 1P', cursive;
    color: #cfcfcf;
}

@media (max-width: 768px){
    .main_content{
        flex-direction: column;
    }
    .main_description{
        padding: 2vh;
    }
}

/* footer */

footer{
width: 100%;
font-family: 'Righteous';
font-weight: 300;
font-size: 2rem;
text-align: center;
}

.footer_h3{
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer_item{
    padding-bottom: 30px;
}

/* our story */

body{
    font-size: 1.5rem;
    background: rgb(226, 226, 226);
    min-height: 100vh;
}

.main_section1{
    float: left;
}

.main_section2{
    float: right;
}
    
li a {
text-decoration: none;
text-transform: uppercase;
list-style-type: none;
}

li a:hover{
    color: rgb(240, 240, 240);
}

p{
    font-size: 2rem;
    margin: 1rem
}

article p{
    font-size: 1.5rem;
    margin: 1rem;
}

h1 {
    font-size: 4rem;
    color: rgb(0, 0, 0);
    margin: 1rem;
}

h2{
    font-size: 3rem;
    margin: 1rem;
}

section p{
    text-align: center;
}

section li{
    margin: 2rem;
    text-decoration: dotted;
    font-size: 20px;
}

footer li{
    display: inline;
    list-style-type: none;
}

