
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Overpass:wght@100&family=Righteous&family=Rubik+Iso&display=swap');


$spooky-font: 75px;
$spooky-style: 'Righteous', cursive;
$spooky-color: #b69fd163;

$spooky-alt-color:#6b5881a4;
$spooky-alt-font: 30px;

$bold-font:  25px ;
$bold-white: azure;
$bold-style: 'M PLUS 1p', sans-serif;

$white-font: 20px ;
$white-color: #cfcfcf; 
$white-style: 'M PLUS 1p', sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}