@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Overpass:wght@100&family=Righteous&display=swap');
/* Variables */

@import "_base.scss";
@import "_layout.scss";
@import "_components.scss";

body{
    font-size: 1.5rem;
    background: rgb(226, 226, 226);
    min-height: 100vh;
}

li a:hover{
    color: rgb(240, 240, 240);
}

/* contenido principal */

.main_content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-image:url(img/backgroundbanner.jpeg);
    background-position: center;
    background-size: cover;
    width:auto;
    height:1000px;
    position:relative;
}

.main_description {
    justify-content: center;
    margin-top: 250px;
    top: 0;
    width: 100%;

    h1 {
        font-size: $spooky-font;
        font-weight: 650;
        color: $spooky-color;  
        font-family: $spooky-style; 
    }

    h2 {
        font-size:  $bold-font;
        color: $bold-white;
        font-family: $bold-style;
    }

    p {
        font-size: $white-font;
        color: $white-color;
        font-family: $white-style;
    }
}

@media (max-width: 768px){
    .main_content{
        flex-direction: column;
    }
    .main_description{
        padding: 2vh;
    }
}

/* our story */

.story {
    
    .story_quote {
        margin: 2rem;
        border: 1px solid;
        border-radius: 20px;
        padding: 40px;
        background-image: url(img/creepy62b39e8d338a09950ad62ea83fbd4a.jpg);
        background-position: center;
    
        q {
            font-size: 30px;
            font-family: $bold-style;
            color: $white-color;
            display: block;
            text-align: center;
        }

        .name_quote{
            font-family: $bold-style;
            font-weight: 300;
            text-align: center;
            color:$white-color ;
            font-size: 25px;
        }    
    }

    .story_section{
        
        display: flex;

        .story_image{
            order: 2; 
            margin: 5%; 
        }

        .story_paragraph{
            order: 1;
            text-align: center;
            margin-left: 5%;

            h1{
                font-family: $spooky-style;
                margin: 19% 0 8%;
                color:$spooky-alt-color;
                font-size: $spooky-font;
            }
    
            p {
                font-size: $bold-font;
                font-family: $white-style;
                margin-bottom: 19%;
            }
        }
    }
}

.purpose_section {
    margin: 2rem;
    background-color: $spooky-color;
    text-align: center;
    padding: 2rem;
    transition: 0.5s;

    &:hover{
        box-shadow:0 0 20px 0 rgba(60, 13, 99, 0.575);
    }

    h2 {
        margin: 1rem 0 2rem;
        font-size: $spooky-style;
        color: black;
        font-size: $spooky-font;
        font-family: $spooky-style;
    }

    p {
        font-family: $bold-style;
       font-size: $bold-font;
       
    }
}

@media (max-width: 768px){

    .story_quote {
        q {
            font-size: $white-font;
        }
    }

    .story_section{
        flex-wrap: wrap;

        .story_image{
            margin: 1rem;
        }

        .story_paragraph{
            margin: 0 2rem;
        }
    }

}

/* our services */

.Artists_header{
    text-align: center;

    h1{
        margin: 5% 0 0;
        font-family: $spooky-style;
        font-size: $spooky-font;
        color: $spooky-alt-color;
    }
    
    p{
        font-size: $white-font;
        font-family: $white-style;
    }
}

.artists {
    margin-top: 2rem;
    display: flex;
    justify-items: center;
    justify-content: space-between;

    .artist_card {
        
        background-color: #292121;
        border-radius: 45px;
        flex-basis: 31%;
        padding: 50px;
        transition: 0.5s;
        margin: auto;

        &:hover{
            box-shadow:0 0 20px 0 rgba(8, 2, 14, 0.575);
        }

        .artist_info {

            text-align: center;

            h2{
                font-family: $spooky-style;
                font-size: $bold-font;
                color: $spooky-color;
                padding: 25px;
            }
            
            p{
                font-family: $white-style;
                font-size: $white-font;
                color: $bold-white;
            }
        }
    }
}

.services_list {
    margin: 2rem;
    text-align: center;
    background-color: #ffffff;
    padding: 2rem;

    h2{
        font-family: $spooky-style;
        color: #292121;
        font-size: 50px;
    }

    li{
        font-size: $white-font;
        list-style: none;
        font-family: $bold-style;
        padding: 20px;
    }
}

.proposal {
    margin: 4rem;
    border-radius: 45px;
    background-image:  url(img/forestback0.jpg);
    background-position: center;
    background-size: cover;
    font-family: $bold-style;
    font-size: $bold-font;
    font-weight: 100;
    color: black;
    padding: 20px;
    text-align: center;

    .hero-btn {
        margin-top: 10px;
        display: inline-block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.801);
        border: 1px solid #ffffff;
        padding: 12px 34px;
        font-size: $bold-font;
        background: transparent;
    
        &:hover{
            border: 1px solid rgb(177, 0, 0);
            background: rgb(177, 0, 0);
            transition: 1s;
        }
    }
}

@media (max-width: 768px){

    .Artists_header{
        h1{
            font-size: 50px;
            margin: 10px;
        }
    }
    .artists{
        flex-direction: column;
        flex-wrap: wrap;

        .artist_card{
            margin: 5px;
        }
    }
}

/* gallery */

.Gallery-intro{

    text-align: center;

    h2{
        font-family: $spooky-style;
        font-size: $spooky-font;
        margin: 2rem;
        color: $spooky-alt-color;
    }

    p{
        font-style: $white-font;
        font-size: $white-font;
    }


}

.section_gallery{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

   
    img {
        margin: 2rem;
        flex-basis: 45%;
    }
}

/* contact */

.contact_info{
    margin: 2%;

    display: flex;

    img {
        order: 1;
        margin: 2rem;
    }

    .contact-col{

        margin: 2rem;
        order: 2;

        h1{
            font-family: $spooky-style;
            font-size:$spooky-font ;
            color: $spooky-alt-color;
        }

        p{
            font-family: $white-style;
            font-size: $white-font;
            margin-bottom: 20px;
        }
    
        input {
            width: 100%;
            padding: 15px;
            margin-bottom: 17px;
            outline: none;
            border: 1px solid $spooky-alt-color;
            background-color: #8585859f;
            font-family: $white-style;
            color: #292121;
        }
    
        textarea {
            width: 100%;
            padding: 15px;
            margin-bottom: 17px;
            outline: none;
            border: 1px solid $spooky-alt-color;
            background-color: #8585859f;
            font-family: $white-style;}
            color: #292121;
        }
    }

    @media (max-width: 768px){
        .contact_info{
            flex-direction: column;
        }
    }

